body {
	background:#FFF;
	font-family: Calibri, Arial, sans-serif;
	max-width:1400px;
	font-size:1em;
}


.footer {
	background-color: #50B121;
	padding: 5px 0 5px 0;
	bottom:0;
	margin-top:30px;
	margin-bottom:0px;
	width:100%;
	position:absolute;
}

.footer p{
	color:#FFFFFF;
	text-align:center;
	font-size:0.65em;
}

.content_left {
	width: 20%;
	float: left;
	margin-top: 20px;
}

.content_left img{
	width: 80%;
}

.content_wrap{
	width:78%;
	height:100%;
	margin-left: 20%;
	min-height: 500px;
	margin-top: 2px;
}

.content_middle {
	padding-right:5px;
	padding-bottom: 5px;
	color: #042707;
	width: 65%;
	float: left;
}
.content_middle p {
	padding-bottom: 0.2em;
	font-size:1.1em;
	color:#666;
}

.content_right {
	margin-bottom:0;
	padding-bottom:0;
}

.content_right p{
	font-size: 2em;
	color: #36740B;
	font-family: 'Fauna One', serif;
	text-align:right;
}

.home {
	background: url(../images/extra.png) bottom right no-repeat ;
}

.resume {
	background: url(../images/resume.gif) bottom right no-repeat;
}

.contact {
	background: url(../images/contact.gif) bottom right no-repeat;
}
.thanks {
	background: url(../images/thanks.gif) bottom right no-repeat;
}
	
.content_contact {
	margin-left: 250px;
	padding-bottom: 5px;
	color: #042707;
	padding-left: 15px;
}

.contact_form {
	margin-left:20px;
}

.contact_form input, .contact_form textarea {
	background:#F2FDCE;
}

.contact_form .submit {
	padding:5px 15px;
	color:#FFFFFF;
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-color: #042707;
}

h1{
	font-size: 3em;
	color: #36740B;
	font-family: 'Fauna One', serif;
}
h2 {
	font-size: 2.2em;
	color: #161F0F;
}
span.reference {
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:12px;
}
span.reference a {
	color:#aaa;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	margin-right:30px;
}
span.reference a:hover {
	color:#ddd;
}

.button_green {
	text-indent: 0;
	display: inline-block;
	float: left;
	margin: 0 10px 20px 10px;
	color: #ffffff !important;
	font-family: 'Fauna One', serif;
	font-size: 1em;
	text-transform: uppercase;
	height: 46px;
	line-height: 46px;
	text-align: center;
	padding: 0 15px;
	width:65%;
	text-decoration: none;
}

.button_green a { 
	text-decoration:none;
	color:#FFFFFF;
}
.button_green:hover {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	text-indent: 0;
}

#menu {
	padding-right: 10px;
	padding-left: 10px;
	height: 120px;
}

#menu ul {
	position: relative;
	left: 15%;
	top: -80px;
}

#menu li {
	width: 200px;
	margin-right: 5px;
	padding: 1% 1.5%;
	display: inline;
}

#menu li a {
   text-decoration:none;
   display:inline;
   padding: 4% 1%;
   color:#FFF;
   font-family: 'Fauna One', serif;
   font-size:1.2em;
   text-transform:uppercase;
}

.one {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(0,94,32,1.00) 0%,rgba(59,218,0,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,94,32,1.00) 0%,rgba(59,218,0,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,94,32,1.00) 0%,rgba(59,218,0,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,94,32,1.00) 0%,rgba(59,218,0,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
}
.two {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(167,236,30,1.00) 0%,rgba(74,163,41,1.00) 0.52%,rgba(21,79,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(167,236,30,1.00) 0%,rgba(74,163,41,1.00) 0.52%,rgba(21,79,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(167,236,30,1.00) 0%,rgba(74,163,41,1.00) 0.52%,rgba(21,79,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(167,236,30,1.00) 0%,rgba(74,163,41,1.00) 0.52%,rgba(21,79,0,1.00) 100%);
}
.three {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(84,247,8,1.00) 0%,rgba(107,236,59,1.00) 0.52%,rgba(38,141,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(84,247,8,1.00) 0%,rgba(107,236,59,1.00) 0.52%,rgba(38,141,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(84,247,8,1.00) 0%,rgba(107,236,59,1.00) 0.52%,rgba(38,141,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(84,247,8,1.00) 0%,rgba(107,236,59,1.00) 0.52%,rgba(38,141,0,1.00) 100%);
}
.four {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(123,208,11,1.00) 0%,rgba(142,236,106,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(123,208,11,1.00) 0%,rgba(142,236,106,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(123,208,11,1.00) 0%,rgba(142,236,106,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(123,208,11,1.00) 0%,rgba(142,236,106,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
}

@media (max-width: 1280px) {
#menu li a { font-size:1.15em; }
h1 {font-size:2.5em; }
h2 {font-size:1.9em; }
.content_right p{ font-size: 1.5em;}
.button_green { font-size:0.9em;}
}
@media (max-width: 1020px) {
#menu li a { font-size:1em; }
h1 {font-size:2em; }
h2 {font-size:1.5em; }
.content_middle { width:60%}
.content_middle p{ font-size: 0.9em;}
.content_wrap{min-height: 500px;}
}
@media (max-width: 780px) {

#menu li a { font-size:0.9em; }
.content_middle p{ font-size: 0.8em;}
}
@media (max-width: 480px) {
#menu li a { font-size:0.75em; }
}
