body {
	background:#FFF;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo{
	width: 180px;
	height: 120px;
	margin-left: 0;
	padding-left: 10px;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}


.menu{
	padding:10px;
	height: 120px;
	margin-left: 250px;
}


.footer {
	background-color: #042707;
	padding:10px 0 5px 0;
	bottom:0;
	margin-top:0px;
	width:100%;
}

.footer p{
	color:#FFFFFF;
	text-align:center;
	font-size:10px;
}

.content_left {
	width:230px;
	float:left;
}
.content_right {
	margin-left: 250px;
	background: url(../images/extra.jpg) bottom right no-repeat;
	padding-bottom: 5px;
	color: #042707;	
	min-height:490px;
	height:100%;
}

.resume {
	background: url(../images/resume.gif) bottom right no-repeat;
}

.contact {
	background: url(../images/contact.gif) bottom right no-repeat;
}
.thanks {
	background: url(../images/thanks.gif) bottom right no-repeat;
}
	
.content_contact {
	margin-left: 250px;
	padding-bottom: 5px;
	color: #042707;
	padding-left: 15px;
}
.content_right p {
	padding-top: 5px;
	padding-right: 50px;
	padding-left: 20px;
	padding-bottom: 5px;
	font-size:16px;
	color:#666;
	width:60%;
}

.contact_form {
	margin-left:20px;
}

.contact_form input, .contact_form textarea {
	background:#F2FDCE;
}

.contact_form .submit {
	padding:5px 15px;
	color:#FFFFFF;
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-color: #042707;
}

h1{
	font-size: 38px;
	color: #36740B;
	font-family: 'Fauna One', serif;
}
h2 {
	font-size: 24px;
	color: #161F0F;
	font-family: 'Fauna One', serif;
}
span.reference {
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:12px;
}
span.reference a {
	color:#aaa;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	margin-right:30px;
}
span.reference a:hover {
	color:#ddd;
}
ul.sdt_menu {
	margin-top:50px;
	margin-right:0px;
}



ul.sdt_menu {
	margin:0;
	padding:0;
	list-style: none;
	font-family: 'Fauna One', serif;
	font-size:14px;
	width:1020px;
}
ul.sdt_menu a {
	text-decoration:none;
	outline:none;
}
ul.sdt_menu li {
	float:left;
	width:180px;
	height:85px;
	position:relative;
	cursor:pointer;
}
ul.sdt_menu li > a {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 180px;
	height: 85px;
	z-index: 12;
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
}
ul.sdt_menu li a img {
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap {
	position: absolute;
	top: 25px;
	left: 0px;
	width: 180px;
	height: 60px;
	z-index: 15;
}
ul.sdt_menu li span.sdt_active {
	position: absolute;
	background: #053204;
	top: 85px;
	width: 180px;
	height: 0px;
	left: 0px;
	z-index: 14;
	-moz-box-shadow: 0px 0px 4px #000 inset;
	-webkit-box-shadow: inset 0px 0px 4px #042707;
	box-shadow: inset 0px 0px 4px #042707;
}
ul.sdt_menu li span span.sdt_link, ul.sdt_menu li span span.sdt_descr, ul.sdt_menu li div.sdt_box a {
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link {
	color:#fff;
	font-size:20px;
	float:left;
	clear:both;
	font-family: 'Fauna One', serif;
}
ul.sdt_menu li span span.sdt_descr {
	color: #F1FCE4;
	float: left;
	clear: both;
	width: 155px; /*For dumbass IE7*/
	font-size: 10px;
	letter-spacing: 1px;
}
ul.sdt_menu li div.sdt_box {
	display:block;
	position:absolute;
	width:180px;
	overflow:hidden;
	height:150px;
	top:85px;
	left:0px;
	display:none;
	background:#000;
}
ul.sdt_menu li div.sdt_box a {
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}
ul.sdt_menu li div.sdt_box a:first-child {
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover {
	color:#fff;
}
/* content left*/

.button_green {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(81,255,0,1.00) 0%,rgba(144,228,106,1.00) 0.52%,rgba(10,83,28,1.00) 100%);
	text-indent: 0;
	display: inline-block;
	float: left;
	margin: 0 10px 20px 10px;
	color: #ffffff !important;
	font-family: 'Fauna One', serif;
	font-size: 18px;
	text-transform: uppercase;
	height: 46px;
	line-height: 46px;
	text-align: center;
	text-shadow: 1px 1px 0px #061903;
	padding: 0 15px;
	width: 180px;
	text-decoration: none;
}

.button_green a { 
	text-decoration:none;
	color:#FFFFFF;
}
.button_green:hover {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	text-indent: 0;
}
