body {
	background:#FFF;
	font-family: Calibri, Tahoma, Arial, Sans-serif;
	font-size:1em;
}
.alt { background:#FFFFCC;}

.footer {
	width: 100%;
	bottom: 0px;
	left:0px;
	height: 40px;
	background: #66CC33;
	position:fixed;
	margin-top:20px;
}

.footer p{
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
}

.content_left {
	width: 250px;
	float: left;
	margin-top: 20px;
}

.content_wrap{
	width: 1000px;
	min-height: 700px;
	float: left;
	position:absolute;
	top:120px;
	left:250px;
	padding-bottom:70px;
}

.content_middle {
	padding-right: 5px;
	padding-bottom: 5px;
	color: #042707;
	width: 65%;
}
.content_middle p {
	padding-bottom: 0.2em;
	font-size: 1.1em;
	color: #3F3F3F;
}

.content_right {
	margin-bottom: 0;
	padding-bottom: 0;
	width: 260px;
	float: right;
}

.content_right p{
	font-size: 2em;
	color: #B0049F;
	font-family: 'Fauna One', serif;
	text-align: right;
}

.home {
	background: url(../images/index.jpg) top right no-repeat;
}

.resume {
	background: url(../images/resume.jpg) top right no-repeat;
}

.join {
	background: url(../images/join.jpg) top right no-repeat;
}
.career {
	background: url(../images/career.jpg) top right no-repeat;
}
.training {
	background: url(../images/training.jpg) top right no-repeat;
}

.contact {
	background: url(../images/contact.jpg) top right no-repeat;
}
.thanks {
	background: url(../images/thanks.gif) bottom right no-repeat;
}

.content_contact {
	margin-left: 250px;
	padding-bottom: 5px;
	color: #042707;
	padding-left: 15px;
}

h1{
	font-size: 3em;
	color: #36740B;
	font-family: 'Fauna One', serif;
	margin:2px 0;
}
h2 {
	font-size: 2em;
	color: #172E0D;
	margin:15px 0 5px 0;
}

h3 {
	font-size: 1.5em;
	color: #65DF57;
}
span.reference {
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:12px;
}
span.reference a {
	color:#aaa;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	margin-right:30px;
}
span.reference a:hover {
	color:#ddd;
}

.button_green, .button_purple {
	text-indent: 0;
	display: inline-block;
	float: left;
	margin: 0 10px 20px 10px;
	color: #ffffff !important;
	font-family: 'Fauna One', serif;
	font-size: 1em;
	text-transform: uppercase;
	width: 180px;
	line-height: 46px;
	text-align: center;
	padding: 0 15px;
	text-decoration: none;
}

.button_green a, .button_purple a { 
	text-decoration:none;
	color:#FFFFFF;
}
.button_green:hover {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(5,47,14,1.00) 0%,rgba(10,83,28,1.00) 100%);
	text-indent: 0;
}

.button_purple:hover {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #921357;
	box-shadow: 0px 0px 2px #921357;
	background-image: -ms-linear-gradient(top, #921357 0%, #260517 100%);
	background-image: -moz-linear-gradient(top, #921357 0%, #260517 100%);
	background-image: -o-linear-gradient(top, #921357 0%, #260517 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #921357), color-stop(1, #260517));
	background-image: -webkit-linear-gradient(top, #921357 0%, #260517 100%);
	background-image: linear-gradient(to bottom, #921357 0%, #260517 100%);
	text-indent: 0;
}

#menu {
	padding-right: 10px;
	padding-left: 10px;
	height: 120px;
	width: 1000px;
}

#menu ul {
	position: relative;
	left: 200px;
	top: -80px;
}

#menu li {
	width: 200px;
	margin-right: 5px;
	padding: 15px ;
	display: inline;
}

#menu li a {
   text-decoration:none;
   display:inline;
   padding: 4% 1%;
   color:#FFF;
   font-family: 'Fauna One', serif;
   font-size:1.2em;
   text-transform:uppercase;
}

.one {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(0,94,32,1.00) 0%,rgba(59,218,0,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,94,32,1.00) 0%,rgba(59,218,0,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,94,32,1.00) 0%,rgba(59,218,0,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,94,32,1.00) 0%,rgba(59,218,0,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
}
.two {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(167,236,30,1.00) 0%,rgba(74,163,41,1.00) 0.52%,rgba(21,79,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(167,236,30,1.00) 0%,rgba(74,163,41,1.00) 0.52%,rgba(21,79,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(167,236,30,1.00) 0%,rgba(74,163,41,1.00) 0.52%,rgba(21,79,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(167,236,30,1.00) 0%,rgba(74,163,41,1.00) 0.52%,rgba(21,79,0,1.00) 100%);
}
.three {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(84,247,8,1.00) 0%,rgba(107,236,59,1.00) 0.52%,rgba(38,141,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(84,247,8,1.00) 0%,rgba(107,236,59,1.00) 0.52%,rgba(38,141,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(84,247,8,1.00) 0%,rgba(107,236,59,1.00) 0.52%,rgba(38,141,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(84,247,8,1.00) 0%,rgba(107,236,59,1.00) 0.52%,rgba(38,141,0,1.00) 100%);
}
.four {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #04461C;
	box-shadow: 0px 0px 2px #04461C;
	background-image: -webkit-linear-gradient(270deg,rgba(123,208,11,1.00) 0%,rgba(142,236,106,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(123,208,11,1.00) 0%,rgba(142,236,106,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(123,208,11,1.00) 0%,rgba(142,236,106,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(123,208,11,1.00) 0%,rgba(142,236,106,1.00) 0.52%,rgba(38,142,0,1.00) 100%);
}
.five {
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #921357;
	box-shadow: 0px 0px 2px #921357;
	background-image: -ms-linear-gradient(top, #E14AFF 0%, #921357 100%);
	background-image: -moz-linear-gradient(top, #E14AFF 0%, #921357 100%);
	background-image: -o-linear-gradient(top, #E14AFF 0%, #921357 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E14AFF), color-stop(1, #921357));
	background-image: -webkit-linear-gradient(top, #E14AFF 0%, #921357 100%);
	background-image: linear-gradient(to bottom, #E14AFF 0%, #921357 100%);
}

/*-------contact form-----------------*/

#theForm {
	    border: 1px solid #CCCCCC;
		border-collapse:collapse;
		padding:10px;
}

#theForm input, #theForm textarea {
    background: #FFFFDD;
    border: 1px solid #CCCCCC;
    color: #000000;
    overflow: auto;
}

#theForm input[type="text"], #theForm input[type="email"], #theForm input[type="file"] {
	margin-bottom: 10px;
	overflow: hidden;
	width: 180px;
}

#theForm textarea {
	height: 60px;
	width: 90%;
}

#theForm p {
	font-size:14px;
	text-align:left;
	margin:0;
	padding:5px;
}

#theForm input[type="submit"],  #theForm input[type="button"] {
    background: none repeat scroll 0 0 #EAEAEA;
	font-size:14px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    color: #444444;
    cursor: pointer;
    margin: 21px 0;
    padding: 3px 10px;
    transition: all 0.3s ease 0s;
    width: auto;
}


#theForm input[type="submit"]:hover, #theForm input[type="button"]:hover {
    background: none repeat scroll 0 0 #006633;
    color: #FFFFFF;
}


.Zebra_Form .optional {
	display: none;
}